/* masonry Posts List */

/* Posts List masonry Item Invert */
.masonry-item-wrap.invert,
.masonry-item-wrap.invert .posted-on,
.masonry-item-wrap.invert .cat-links,
.masonry-item-wrap.invert .byline,
.masonry-item-wrap.invert .tags-links,
.masonry-item-wrap.invert .entry-meta,
.masonry-item-wrap.invert a,
.masonry-item-wrap.invert .btn-icon,
.masonry-item-wrap.invert .comments-button {
	color: $invert_text_color;
}

.posts-list.list-style-v3 .masonry-item-inner .space-between-content .comments-link {
	color: $secondary_text_color;
}
.posts-list.list-style-v3 .masonry-item-inner .space-between-content .comments-link:hover {
	color: $accent_color;
}
