/* Posts List Grid Item Invert */
.grid-item-wrap.invert,
.grid-item-wrap.invert .posted-on,
.grid-item-wrap.invert .cat-links,
.grid-item-wrap.invert .byline,
.grid-item-wrap.invert .tags-links,
.grid-item-wrap.invert .entry-meta,
.grid-item-wrap.invert a,
.grid-item-wrap.invert .btn-icon,
.grid-item-wrap.invert .comments-button {
	color: $invert_text_color;
}

.posts-list.list-style-v2 .posts-list__item.grid-item .grid-item-wrap .cat-links a {
	color: $invert_text_color;
	background-color: $link_color;
}

.posts-list.list-style-v2 .posts-list__item.grid-item .grid-item-wrap .cat-links a:hover {
	color: $invert_text_color;
	background-color: @lighten($accent_color, 15%);
}

.list-style-v2 .grid-item-wrap.invert .posted-on a:hover,
.list-style-v2 .grid-item-wrap.invert .cat-links a:hover,
.list-style-v2 .grid-item-wrap.invert .tags-links a:hover,
.list-style-v2 .grid-item-wrap.invert .byline a:hover,
.list-style-v2 .grid-item-wrap.invert .comments-link:hover,
.list-style-v2 .grid-item-wrap.invert .entry-title a:hover {
	color: $accent_color;
}

.list-style-v2 .grid-item-wrap.invert .posted-on,
.list-style-v2 .grid-item-wrap.invert .cat-links,
.list-style-v2 .grid-item-wrap.invert .byline,
.list-style-v2 .grid-item-wrap.invert .tags-links,
.list-style-v2 .grid-item-wrap.invert .posted-on a,
.list-style-v2 .grid-item-wrap.invert .cat-links a,
.list-style-v2 .grid-item-wrap.invert .tags-links a,
.list-style-v2 .grid-item-wrap.invert .byline a,
.list-style-v2 .grid-item-wrap.invert .comments-link,
.list-style-v2 .grid-item-wrap.invert .entry-title a,
.list-style-v2 .grid-item-wrap.invert .entry-content p {
	color: $invert_text_color;
}

.posts-list.list-style-v2 .grid-item .grid-item-wrap .entry-footer .comments-link:hover,
.posts-list.list-style-v2 .posts-list__item.grid-item .grid-item-wrap .btn:hover {
	color: $accent_color;
	border-color: $accent_color;
}

.posts-list.list-style-v3 .grid-item-inner .space-between-content .comments-link {
	color: $secondary_text_color;
}
.posts-list.list-style-v3 .grid-item-inner .space-between-content .comments-link:hover {
	color: $accent_color;
}
