/*--------------------------------------------------------------
### Creative Posts List
--------------------------------------------------------------*/

.creative-item {
	position: relative; // Creative title
	.entry-title {
		margin: 0 0 20px;
		a {
			color: inherit;
		}
	} // Creative meta
	.byline,
	.posted-on,
	.cat-links,
	.tags-links,
	.comments-link {
		margin-right: 15px;
	}
	.post-categories {
		margin-top: 5px;
		li+li {
			margin-top: 5px;
		}
		@include media-breakpoint-down(xs) {
			display: block;
			li {
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
	.comments-link {
		@include font-size(14/16);
		padding: 0;
		&,
		&:hover {
			background: none;
		}
	} // Creative thumbnail
	&__thumbnail {
		@include overlay-position;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	&.invert-hover &__thumbnail {
		opacity: 0;
		transform: scale(1.05);
		transition: opacity 0.55s ease, transform 0.55s ease;
		&:before {
			content: '';
			@include overlay-position;
			background-color: rgba(0, 0, 0, .5);
		}
	}
	&.invert-hover:hover &__thumbnail {
		opacity: 1;
		transform: scale(1);
	}
}

.posts-list--creative.list-style-default {
	@include media-breakpoint-up(md) {
		margin-left: 6%;
		margin-right: 6%;
	}
	.creative-item+.creative-item {
		margin-top: 100px;
	}
}

.creative-item {
	.list-style-default & {
		position: relative;
		overflow: hidden;
		&.has-post-thumbnail {
			&:nth-child(odd) {
				.post-thumbnail {
					right: 0;
					display: flex;
					justify-content: flex-start;
				}
				.creative-item__content {
					margin-right: auto
				}
			}
			&:nth-child(even) {
				.post-thumbnail {
					left: 0;
					display: flex;
					justify-content: flex-end;
				}
				.creative-item__content {
					margin-left: auto
				}
			}
			.creative-item__content {
				margin-top: 100px;
			}
		}
		.post-thumbnail {
			position: absolute;
			top: 0;
			width: 90%;
			@include border-radius;
			z-index: -1;
			@include media-breakpoint-up(sm) {
				width: 70%;
			}
			@include media-breakpoint-up(md) {
				width: 55%;
			}
			img {
				border-radius: 0;
			}
		}
		.entry {
			&-title {
				margin-bottom: 35px;
			}
			&-content {
				margin-bottom: 15px;
			}
			&-footer {
				.entry-meta {
					>div:not(:empty) {
						margin-top: 18px;
						@include space-between-content;
					}
				}
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 90%;
			min-height: 470px;
			padding: 25px 30px;
			border: 1px solid $color__background-hr;
			background-color: $color__white;
			@include media-breakpoint-up(sm) {
				width: 55%;
				padding: 45px 55px;
			}
		}
	}
}


.posts-list--creative.list-style-v2 {
	.creative-item+.creative-item {
		margin-top: 90px;
	}
}

.creative-item {
	.list-style-v2 & {
		&.has-post-thumbnail {
			position: relative;
			&:nth-child(3n+1) {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				min-height: 450px;
				@include media-breakpoint-up(sm) {
					min-height: 620px;
				}
				.creative-item__content {
					margin-top: 100px;
					margin-left: auto;
					padding: 25px 0 0 30px;
					background-color: $color__white;
					@include media-breakpoint-down(xs) {
						width: 85%;
					}
					@include media-breakpoint-up(sm) {
						padding: 55px 0 0 60px;
					}
				}
			}
			.post-thumbnail {
				img {
					border-radius: 0;
				}
			}
			@include media-breakpoint-up(sm) {
				&:nth-child(3n+2),
				&:nth-child(3n+3) {
					display: flex;
				}
				&:nth-child(3n+2) {
					flex-direction: row-reverse;
					.post-thumbnail {
						margin-left: 60px;
					}
				}
				&:nth-child(3n+3) {
					.post-thumbnail {
						margin-right: 60px;
					}
				}
				.post-thumbnail {
					flex-shrink: 0;
					width: 45%;
				}
				.creative-item__content {
					width: 55%;
				}
			}
			@include media-breakpoint-down(xs) {
				.post-thumbnail {
					margin-bottom: 30px;
				}
			}
		}
		.entry {
			&-header {
				.entry-meta:not(:empty) {
					margin-bottom: 17px;
				}
			}
			&-footer {
				.entry-meta {
					.tags-links+div:not(:empty) {
						margin-top: 20px;
					}
					>div {
						@include space-between-content;
						align-items: center;
					}
				}
			}
		}
	}
}


.posts-list--creative.list-style-v3 {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 10px;
		width: 1px;
		height: 100%;
		background-color: $color__background-hr;
	}
	.creative-itemcreative-item {
		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: -31px;
			margin-left: -8px;
			width: 19px;
			height: 19px;
			border-radius: 50%;
		}
	}
	@include media-breakpoint-up(sm) {
		&:before {
			top: 0;
			left: 50%;
		}
		.creative-item+.creative-item {
			margin-top: 80px;
		}
		.creative-item {
			display: flex;
			&:before {
				left: 50%;
			}
			&__content,
			&__post-date {
				overflow: hidden;
				width: 50%;
			}
			&__post-date {
				margin-top: -7px;
			}
			&:nth-child(2n+1) {
				flex-direction: row-reverse;
				.creative-item__post-date {
					margin-left: 45px;
				}
				.creative-item__content {
					margin-right: 45px;
				}
			}
			&:nth-child(2n) {
				.creative-item__post-date {
					margin-right: 45px;
					text-align: right;
				}
				.creative-item__content {
					margin-left: 45px;
				}
			}
		}
	}
	@include media-breakpoint-down(xs) {
		.creative-item+.creative-item {
			margin-top: 50px;
		}
		.creative-item {
			margin-left: 40px;
			&__post-date {
				margin-bottom: 20px;
			}
		}
	}
}

.creative-item {
	.list-style-v3 & {
		.posted-on {
			margin: 0;
		}
		.entry {
			&-header {
				.entry-meta:not(:empty) {
					margin-bottom: 24px;
				}
			}
			&-content {
				@include media-breakpoint-up(sm) {
					@include font-size(18/16);
				}
			}
			&-footer {
				.entry-meta {
					>div:not(:empty) {
						margin-top: 18px;
						@include space-between-content;
						align-items: center;
					}
				}
			}
		}
		&__content {
			@include border-radius;
			padding: 30px 35px;
			border: 1px solid $color__background-hr;
		}
	}
}

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/

.creative-item.format-post {
	.byline,
	.posted-on,
	.cat-links,
	.tags-links,
	.comments-link {
		margin-right: initial;
	}
	.entry-footer .entry-meta {
		.tags-links+div:not(:empty) {
			margin-top: 28px;
		}
		>div {
			@include space-between-content;
		}
	}
}
