/*--------------------------------------------------------------
### Posts List
--------------------------------------------------------------*/

.default-item {
	.post-thumbnail {
		margin-bottom: 26px;
	}
}

.posts-list--default {
	.default-item+.default-item {
		margin-top: 50px;
		padding-top: 40px;
		border-top: 1px solid $color__background-hr;
	}
}

/*-------------------
### Default Styles
---------------------*/
.default-item {
	.posts-list--default & {
		body:not(.sidebar_enabled) & {
			max-width: 770px;
			margin-left: auto;
			margin-right: auto;
		}
		.entry {
			&-content {
				@include media-breakpoint-up(sm) {
					@include font-size(18/16);
				}
			}
			&-footer {
				.entry-meta {
					.tags-links+div:not(:empty) {
						margin-top: 28px;
					}
					>div {
						@include space-between-content;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/

.default-item.format-post {
	.entry-footer .entry-meta {
		.tags-links+div:not(:empty) {
			margin-top: 28px;
		}
		>div {
			@include space-between-content;
		}
	}
}
