.rx-mobile-panel {
	display: block;
	position: fixed;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	background-color: $color__white;
	box-shadow: $box__shadow;
	border-radius: $border__radius;
	z-index: 999;

	@include media-breakpoint-up(sm) {
		display: none;
	}

	&__inner {
		padding: 10px;

		@include media-breakpoint-down(xs) {
			display: block;
			text-align: center;
		}
	}

	&__controls {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
	}

	&__control {
		padding: 5px 15px;
		margin: 0 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $border__radius;

		background-color: $color__light;

		i {
			font-size: 25px;
			color: #a1a2a4;
		}

		span {
			font-size: 18px;
			color: #a1a2a4;
			margin-left: 7px;
		}

		&.active {
			background-color: #398ffc;

			i {
				color: $color__white;
			}

			span {
				color: $color__white;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
